* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    overflow: hidden;
    margin: 0;
    background-color: #ECF0F1;
    
}
.container {
    position: relative;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    background-color: #2C3E50;
    min-width: 40vw;
    height: auto;
}
.container ul {
    list-style-type: none;
    position: relative;
    width: 100%;
    padding: 0;
}
.container ul li {
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    background-color: darkgray;
    
}
.input {
    height: 30px;
    width: 200px;
    background-color: rgb(190, 190, 190);
    color: rgb(47, 49, 49);
    border: none;
    margin: 0 10px 30px 0;
    outline: none;
}
.btn-success {
    width: 50px;
    height: 50px;
    background-color: #3498DB;
    color: rgb(213, 230, 229);
    border: none;
    border-radius: 100%;
    font-size: 2rem;
    outline: none;
}
.btn-delete {
   
    width: 20px;
    height: 20px;
    background-color: #E74C3C;
    color: blanchedalmond;
    border-radius: 100%;
    border: none;
    margin: 0 10px;
    outline: none;
    
}